.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.w-1 {
  width: 150px;
}

.w-2 {
  width: 200px;
}

.w-3 {
  width: 300px;
}

.h-1 {
  height: 120px;
}

.h-2 {
  height: 170px;
}

.h-3 {
  height: 250px;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  background: #f1f5f8;
}

.error-text {
  color: red;
  font-size: 14px;
  width: 100%;
}

.gap-1 {
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.btn-back {
  border: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  color: #2196f3;
  align-items: center;
  justify-content: center;
  background: #f1f5f8;
  border-radius: 0.8rem;
}

.radio-card {
  margin: 0 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.radio-card-cov {
  margin: 0 1rem;
  width: 150px;
  height: 120px; 
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-details {
  border-radius: 10px;
  margin-bottom: 12px;
  background: #f1f5f8;
}